* text=auto eol=lf
*.sh text eol=lf
*.py text eol=lf
*.md text eol=lf whitespace=-trailing-space
*.yaml text eol=lf
*.yml text eol=lf
*.msg text eol=lf
*.srv text eol=lf
*.action text eol=lf
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
